<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Salartis - Commands</title>
    <%- include("./blocks/header.ejs") %>
  </head>

  <body>
    <%- include("./blocks/navbar.ejs", { bot, user }) %>
    
   <div class="container">
  <h2>Commands</h2>
  
   
  
    </div>
  </body>
<style>
  </style>
</html>
